<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="UTF-8">
		<title>Recipe Recommendations</title>
	
		<!-- Leaflet CSS -->
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
			integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
			crossorigin="" />
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
		<!-- Our CSS -->
		<link rel="stylesheet" type="text/css" href="static/css/ingStyle.css">
	
			<!-- Navigation Section -->
		 <nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
			<a class="select-ingredients">Select Your Ingredients...</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			<button class="btn btn-outline-success my-2 my-sm-0 nav-item" type="submit">View Recipes</button>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Pages
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="{{ url_for('ingredients') }}">Ingredients</a>
				  <a class="dropdown-item" href="{{ url_for('recipes') }}">Recipes</a>
				  <a class="dropdown-item" href="{{ url_for('notebook') }}">Notebook</a>
				</div>
			  </li>
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item">
				  <a class="nav-link" href="{{ url_for('background') }}">Project Background</a>
				</li>
			</ul>
		  </div>
	</nav>
	</div>
</head>

<body>
	<div class="chart">
	</div>
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>