<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>Recipe Recommendations</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<!-- Our CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recStyle.css') }}">

</head>

<body>
	<!-- Navigation Section -->
	<div class="navigation">
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" style="background-color:lightgray;" href="{{ url_for('home') }}">Home</a>
			<button class="navbar-toggler border border-white" type="button" data-toggle="collapse"
				data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Pages
						</a> -->
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="true">
							Pages
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="{{ url_for('background') }}">Project Background</a>
							<a class="dropdown-item" href="{{ url_for('notebook') }}">Notebook</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="col-md-12">
		<div id="table-area" class="">
		  <table id="recipe-table" class="table table-striped">
			<thead>
			  <tr>
				<th class="table-head"></th>
				<th class="table-head">Recipe Title</th>
				<th class="table-head">URL</th>
			  </tr>
			</thead>
			<tbody></tbody>
		  </table>
		</div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://d3js.org/d3.v3.min.js"></script>

    <script type="text/javascript" src="static\js\config.js"></script>
    <script type="text/javascript" src="static\js\recipes.js"></script>
      
  
  </body>
  
  </html>