text {
  font: 13px "Calibri";
  font-weight: bolder;
  color: #e3e3e3;
}

.chart {
  height: 100%;
  width: 100%;
}
.navbar-brand{
  background-color: steelblue;
  padding: 22px;
  margin-left: 50px;
  font-weight: bolder;
  line-height: normal;
  font-size: 25px;
}
#navbarSupportedContent{background-color: white;}
.nav-item {align-self: right;}
.navbar-light .navbar-brand {color: white;}
.navbar {
  padding: 0;
  height: 75px;
  background-color: white;
}
#navbarDropdown {color: black}
.ml-auto {margin-right: 20px;}
.container {
  align-content: center;
  padding-top: 30px;
  margin-top: 50px;
}
  
