/* Navigation Bar */
.select-ingredients{
  background-color: lightsteelblue;
  padding: 22px;
  font-weight: bolder;
  line-height: normal;
  font-size: 25px;
}
.ml-auto {margin-right: 20px;}
.container {
  align-content: center;
  padding-top: 30px;
  margin-top: 50px;
}
.navbar-brand{
  background-color: lightsteelblue!important;
  padding: 22px;
  margin-left: 40px;
  font-weight: bolder;
  line-height: normal;
  font-size: 25px;
}
#navbarSupportedContent{background-color: white;}
.nav-item {align-self: right;}
.navbar-light .navbar-brand {color: white;}
.navbar {
  padding: 0;
  height: 75px;
  background-color: white;
}
#navbarNavDropdown {
  flex-grow: 1;
}
a:not([href]):not([tabindex]){color: white;}
a:not([href]):not([tabindex]):hover{color: white;}
a.select-ingredients {color: white;}

.btn-outline-success {
  color: white;
  border-color: steelblue;
}
.btn {
  background-color: steelblue;
  font-size: 25px;
  font-weight: bolder;
  padding: .5rem .9rem;
  margin-right: 10px;
  margin-left: 30px;
}

.btn:hover {
  background-color: lightsteelblue;
  border-color: lightsteelblue;
}
.bg-light {
  background:white!important;
}
/* End Navigation Bar */

/* Ingredients page */
text {
    font: 13px "Calibri";
    font-weight: bolder;
  }
  
  g.text:hover {
    color: white;
  }
  
  circle {
    opacity: .6;
    stroke-width: 1;
  }
  /* End Ingredients Page */