body {
    padding: 0;
    margin: 0;
  }
  
  #map,
  body,
  html {
    height: 100%;
  }
  
  text {
    font: 13px "Calibri";
    font-weight: bolder;
    color: #e3e3e3;
  }
  
  .chart {
    height: 100%;
    width: 100%;
  }
  #chart {
    height: 100%;
    width: 100%;
  }
  .ml-auto {margin-right: 20px;}
.container {
  align-content: center;
  padding-top: 30px;
  margin-top: 50px;
}
  .navbar-brand{
    background-color: lightsteelblue!important;
    padding: 22px;
    margin-left: 50px;
    font-weight: bolder;
    line-height: normal;
    font-size: 25px;
  }
  #navbarSupportedContent{background-color: white;}
  .nav-item {align-self: right;}
  .navbar-light .navbar-brand {color: white;}
  .navbar {
    padding: 0;
    height: 75px;
    background-color: white;
  }
  .bg-light {
    background:white!important;
  }
  #navbarDropdown {color: black}
  .ml-auto {margin-right: 20px;}
  .container {
    align-content: center;
    padding-top: 30px;
    margin-top: 50px;
  }

  #navbarNavDropdown {
    position: relative;
    z-index: 10000;
    overflow: visible !important;
  }
  
  .dropdown-menu{
    position:absolute;
    }
    
  
